.first-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  color: #dfe3e8;
  min-height: calc(100vh - 70px);
  padding-top: 20px;
  padding-inline: 30px;
  position: relative;
  overflow-x: hidden;
}
.first-section::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
}
.first-section h1 {
  font-size: 11.2vw;
  line-height: 0.9;
  transform-origin: center center -2em;
  transform: perspective(1000px) rotateX(-40deg) rotateY(13deg) rotateZ(13deg)
    translateY(1.3em);
  opacity: 0;
  margin: 3px 0px;
  transform-style: preserve-3d;
  font-weight: 300;
  text-transform: uppercase;
}
.text-part {
  align-self: flex-end;
}
.text-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-left: 20px;
  opacity: 0;
  transform: translateY(40px);
}
.col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}
.col p {
  font-weight: 400;
  line-height: 1.1;
  font-size: 18px;
}
@media screen and (max-width: 1260px) {
  .first-section {
    min-height: max(70vh, 600px);
  }
}
@media screen and (max-width: 755px) {
  .first-section h1 {
    line-height: 0.75;
  }
  .text-part {
    align-self: flex-start;
  }
  .text-row {
    position: absolute;
    bottom: 5%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 0px;
    left: 5%;
  }
  .col p {
    font-size: 14px;
  }
}
