.fourth-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
  padding: 9rem 30px;
}
.left-fourth,
.text-fourth {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-color);
  transform: rotateY(20deg) rotateZ(-4deg);
  opacity: 0;
}
.fourth-section h4,
.line-col p {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
}
.text-fourth h2 {
  font-size: 3rem;
  font-weight: 400;
}
.text-fourth {
  max-width: 1200px;
}
.text-fourth h2:first-child {
  align-self: flex-end;
}
.right-fourth {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.line-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}
.line-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 240px;
  max-width: 350px;
  position: relative;
  padding-left: 10px;
  opacity: 0;
}
.line-col::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 2px;
  background-color: white;
  left: 0;
  top: 0;
}
.line-row .line-col:last-child {
  height: 330px;
}
@media screen and (max-width: 1450px) {
  .text-fourth h2 {
    font-size: 2.5rem;
    max-width: 800px;
  }
}
@media screen and (max-width: 1032px) {
  .fourth-section {
    gap: 2rem;
    flex-direction: column;
  }
  .line-row {
    flex-direction: column;
  }
  .text-fourth h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .text-fourth h2 {
    font-size: 1.4rem;
  }
  .fourth-section {
    padding: 5rem 30px;
  }
}
