@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Main", cursive;
}
body {
  background-color: rgba(35, 39, 45, 100);
  overflow-x: hidden;
}
@font-face {
  font-family: "Main";
  src: url("./HelveticaNeue\ Medium.ttf");
}
